/* Side Panel */
.sidepanel {
    background: linear-gradient(0deg, rgba(0,248,186,1) 0%, rgba(33,42,140,1) 90%);
    color: #f5f5f5;
}
.span-ham {
    font-size:24px;
    cursor:pointer;
     visibility: hidden;
}
.user-top img{
    width: 60px !important;
    border: 3px solid #2ecc71;
}

.user-top {
    padding: 15px 15px 15px 15px;
}
.user-top span{
    margin-left: 10px;
    font-size: 18px;
}

.user-top a{
    float: right;
    font-size: 24px;
    color: whitesmoke;
    margin-top: 5%;;
    margin-right: 15px;
}
.online-user {
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 10px 10px;
    color: #212a8c;
}
.online-user p{
    margin: 0;
}

.online-user-list {
    margin-top: 4px;
    padding: 15px 15px 15px 15px;
}
.online-user-list span {
    margin-left: 10px;
    font-size: 18px;
}
.online-user-list i {
    margin-left: 15px;
    color: #2ecc71;

}
.online-user-scroll {
    padding-right: 10px;
    padding-left: 10px;
}
.online-user-scroll::-webkit-scrollbar {
    width: 0.1em;
  }

.online-user-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.online-user-scroll::-webkit-scrollbar-thumb {
background-color: #212a8c;
outline: 1px solid slategrey;
}
.input-group-btn button{
    font-size: 19px;
    border-radius: 50px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 7px !important;
    margin-right: 5px;
}


/* Chat Area Styles (Right-side) */
.message-list-row {
    padding: 0;
    margin: 0;
    height: 84vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
.message-input-row {
    position: absolute;
      bottom: 0;
      margin: 0;
      width: 100%;
}

.list-group-item {
    border: 0;
}

.message-body-right p {
    float: right;
    padding: 15px 25px 15px 25px;
    background-color:whitesmoke;
    border-radius: 45px;
    margin-top: 23px;
    border-top-right-radius: 0;
}
.message-right {
    width: 35%;
    float: right;

}

.message-body-left p {
    padding: 8px 25px 14px 25px;
    background-color: #212a8c;
    border-radius: 45px;
    border-top-left-radius: 0;
    display: inline-block;
    color: whitesmoke;
}
.message-left {
    width: 35%;

}



.chat-area{
    background-image: url('https://chat-app.shravanks.com/static/images/chat_back.png');
}
.list-group-item {
    background: none;
}



.message-list-row::-webkit-scrollbar {
    width: 0.4em;
  }

.message-list-row::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.message-list-row::-webkit-scrollbar-thumb {
background-color: #212a8c;
outline: 1px solid slategrey;
}

.input-group {
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
}

.input-group input{
    font-size: 18px;
    width: 100%;
    border-radius: 50px !important;
    margin-right: 10px;
    padding-left: 20px;
}
.input-group button {
    background-color: #212a8c !important;
    outline: none !important;
    border: 0 !important;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.input-group button:hover {
    background-color: #00f8ba !important;
    color: #212a8c;
}
.input-group button i {
    font-size: 22px;
}
.emoji-suggestion-panel {
    background-color: #212a8cb3;
    padding: 8px 0 8px 0;
    width: calc(100% - 193px);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    margin-left: 85px;
}
.emoji-suggestions {
    margin: 0 25px 0 25px;
    color: #00f8ba;
}

.emoji-suggestion-panel::-webkit-scrollbar {
    width: 0.2em;
  }

.emoji-suggestion-panel::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.emoji-suggestion-panel::-webkit-scrollbar-thumb {
background-color: #00f8ba;
outline: 1px solid slategrey;
}

.emoji {
    cursor: pointer;
}
.emoji-picks {
    cursor: pointer;
}

/* Optimize mobile */

@media (min-width: 481px) and (max-width: 767px) {

    .span-ham {
         visibility: visible;
    }

    .message-right,.message-left {
        width:auto;

    }
    .emoji-suggestion-panel {
        background-color: #212a8cb3;
        padding: 8px 0 8px 0;
        width: calc(100% - 140px);
        width: calc(100% - 150px);
        margin-left: 74px;
        height: 40px !important;
        overflow: hidden;
        overflow-y: scroll;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
    }
    .emoji-suggestions {
        margin: 0 5px 0 5px;
        color: #00f8ba;
    }
    .emoji-suggestions i {
        font-size: 13px;
    }
    .user-top {
        padding: 5px 10px 5px 10px;
    }
    .user-top img{
        width: 60px !important;
    }
    .user-top span{
        margin-left: 0;
    }

    .user-top a{
        float: right;
        font-size: 24px;
        color: whitesmoke;
        margin-top: 5%;;
        margin-right: 25px;
    }
    .online-user  {
        margin-top: 6%;
    }
    .online-user-list {
        padding: 5px 1px 5px 1px;
    }
    .online-user-list span{
        margin-left: 0;
        font-size: 14px;
    }
    .online-user-list i{
        font-size: 14px;
        margin-left: 5%;
    }
    .input-group {
        padding: 0 5px 0 5px;
        margin-bottom: 15px;
    }
    .input-group button {
        background-color: #212a8c;
        outline: none !important;
        border: 0 !important;
        border-radius: 50px;
        padding-left: 11px;
        padding-right: 14px;
    }
    .input-group input {
        margin-right: 5px;
    }
}


@media (min-width: 320px) and (max-width: 480px) {

    .span-ham {
         visibility: visible;
    }

    .message-right,.message-left{
        width: auto;

    }
    .emoji-suggestion-panel {
        background-color: #212a8cb3;
        padding: 8px 0 8px 0;
        width: calc(100% - 150px);
        margin-left: 74px;
        border-radius: 0;
        height: 40px !important;
        overflow: hidden;
        overflow-y: scroll;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .emoji-suggestions {
        margin: 0px 8px 0 12px;
        color: #00f8ba;
    }
    .emoji-suggestions i {
        font-size: 13px;
    }
    .user-top {
        padding: 5px 10px 5px 10px;
    }
    .user-top img{
        width: 60px !important;
    }
    .user-top span{
        margin-left: 0;
        font-size: 16px;
    }

    .user-top a{
        float: right;
        font-size: 24px;
        color: whitesmoke;
        margin-top: 5%;;
        margin-right: 15px;
    }
    .online-user  {
        margin-top: 6%;
    }
    .online-user-list {
        padding: 5px 1px 5px 1px;
    }
    .online-user-list span{
        margin-left: 0;
        font-size: 14px;
    }
    .online-user-list i{
        font-size: 14px;
        margin-left: 5%;
    }
    .input-group {
        padding: 0 5px 0 5px;
        margin-bottom: 15px;
    }
    .input-group button {
        background-color: #212a8c!important;
        outline: none !important;
        border: 0 !important;
        border-radius: 50px;
        padding-left: 11px;
        padding-right: 14px;
    }
    .input-group input {
        margin-right: 5px;
    }
}

.user-top i{
    color: whitesmoke;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkblue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    background: linear-gradient(0deg, rgba(0,248,186,1) 0%, rgba(33,42,140,1) 90%);
    color: #f5f5f5;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}