{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chat App</title>
    <link rel="icon" type="image/png" href="{% static 'images/chat_app_logo.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{% static 'css/styles.css'  %}" rel="stylesheet">

  </head>
  <body>
    <div id="frame">
        <div id="sidepanel">
          <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="{% static 'images/profile_pic.png' %}" class="online" alt="" />
              <p>{{ user|capfirst }}</p>
                <a style="float: right; color: white; margin-top: 4px;" href="{% url 'account_logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
          </div>
          <div style="text-align: center;padding: 15px 0 15px 0; background-color: #e6eaea;">
            <p style="color:#212a8c; margin: 0;">Logged In Users</p>
          </div>
          <div id="contacts">
            <ul>
                {% for all_user in all_users %}
                    {% if all_user != user %}
                        <li class="contact">
                            <div class="wrap">
                              <span class="contact-status online"></span>
                                    <img src="{% static 'images/profile_pic3.png' %}" alt="{{ all_user|capfirst }}" />
                            <div class="meta">
                              <p class="name">{{ all_user|capfirst }}</p>
                              <p class="preview">Online</p>
                              </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>
        <div class="content">
          <div class="contact-profile">
            <img src="{% static 'images/chat_app_logo.png' %}" alt="" />
            <p>Chat App</p>
          </div>
          <div  id="msg-list-div" class="messages">
            <ul id="msg-list">
                {% for obj in chat %}
                    {% if obj.sender != request.user %}
                      <li class="sent">
                      <span>{{ obj.sender|capfirst }}</span><br>
                        <img src="{% static 'images/profile_pic2.png' %}" alt="" />
                        <p>{{ obj.message }}
                            <br><small style="float: right">{{ obj.timestamp|naturaltime }}</small>
                        </p>
                      </li>
                    {% else %}
                      <li class="replies">
                        <img src="{% static 'images/profile_pic.png' %}" alt="" />
                        <p>{{ obj.message }}
                            <br><small style="float: right">{{ obj.timestamp|naturaltime }}</small>
                        </p>
                      </li>
                    {% endif %}
                {% endfor %}
            </ul>
          </div>
          <div class="message-input">
            <div class="wrap">
                <form id="chat-form" method="POST" action="{% url 'post' %}">
                    {% csrf_token %}
                    <div class="emoji-suggestion-panel">
                        <div class="emoji-suggestions" id="emoji-suggestions">
                            <i> Emoji-Suggestions:</i>
                            <span class="emoji">👋</span>
                            <span class="emoji">😂</span>
                            <span class="emoji">😀</span>
                            <span class="emoji">😜</span>
                            <span class="emoji">😛</span>
                            <span class="emoji">😍</span>
                            <span class="emoji">❤️</span>
                            <span class="emoji">💻</span>
                        </div>
                    </div>
                    <div class="input-group">
                      <input  id="chat-msg" name="chat-msg" onkeyup="emoji_suggest()" class="search-form  user-message " type="text" placeholder="Write your message...">
    {#                    <a class="btn btn-light attach-btn" ><i class="fa fa-paperclip attachment" aria-hidden="true"></i></a>#}
                        <button id="send" class="submit btn btn-default search-btn"    type="submit" value="Send">
                          <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/emojis.json' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>