{% extends 'base.html' %}
{% load static %}
{% block title %}Chat
{% endblock %}
{% block content %}
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
          <p>{{ user|capfirst }}</p>
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul>
          {% for users in all_users %}
            <li class="contact">
                <div class="wrap">
                  <span class="contact-status online"></span>
                  <img src="http://emilcarlsson.se/assets/louislitt.png" alt="{{ users.username|capfirst }}" />
                  <div class="meta">
                    <p class="name">{{ users.username|capfirst }}</p>
                    <p class="preview">Online</p>
                  </div>
                </div>
            </li>
          {% endfor %}
          <li class="contact">
            <div class="wrap">
              <span class="contact-status busy"></span>
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <div class="meta">
                <p class="name">Harvey Specter</p>
                <p class="preview">Offline</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="bottom-bar">
        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
        <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
        <p>Universal Chat</p>
      </div>
      <div  id="msg-list-div" class="messages">
        <ul id="msg-list">
            {% for obj in chat %}
                {% if obj.sender != request.user %}
                  <li class="sent">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    <p>{{ obj.message }}
                        <br><small style="float: right">{{ obj.timestamp }}</small>
                    </p>
                  </li>
                {% else %}
                  <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>{{ obj.message }}
                        <br><small style="float: right">{{ obj.timestamp }}</small>
                    </p>
                  </li>
                {% endif %}
            {% endfor %}
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
            <form id="chat-form" method="POST" action="{% url 'post' %}">
                {% csrf_token %}
                <div class="input-group">
                  <input  id="chat-msg" name="chat-msg"  class="search-form" type="text" placeholder="Write your message...">
                  <div class="input-group-append">
                    <a class="btn btn-light attach-btn" ><i class="fa fa-paperclip attachment" aria-hidden="true"></i></a>
                    <button id="send" class="submit btn btn-default search-btn"   type="submit" value="Send">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}