{% for obj in chat %}
    {% if obj.sender != request.user %}
      <li class="sent">
        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
        <p>{{ obj.message }}
            <br><small style="float: right">{{ obj.timestamp }}</small>
        </p>
      </li>
    {% else %}
      <li class="replies">
        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
        <p>{{ obj.message }}
            <br><small style="float: right">{{ obj.timestamp }}</small>
        </p>
      </li>
    {% endif %}
{% endfor %}
