{% load static %}
{% for obj in users %}
    {% if obj.user %}
        <div class="sticky-top flex-grow-1 online-user-list">
            <img src="https://chat-app.shravanks.com/static/images/profile_pic3.png" class="rounded-circle" width="50" alt="">
            <span>{{ obj.user|capfirst }}</span>
            <i class="fas fa-dot-circle"></i>
        </div>
    {% endif %}
{% endfor %}
{% for all_user in all_users %}
    {% if all_user != user  %}
        <div class="sticky-top flex-grow-1 online-user-list">
            <img src="https://chat-app.shravanks.com/static/images/profile_pic3.png" class="rounded-circle" width="50" alt="">
            <span>{{ all_user|capfirst }}</span>
        </div>
    {% endif %}
{% endfor %}


